install_time_patches/
src/Makevars.ucrt.orig
src/Makevars.ucrt.rej

*.tar.gz
*Rcheck/
*.o
*.so
*.exe
*.Rhistory
*.R~
*.dll
*.zip
.Rproj.user

revdep/
python/
cmdapp/terra
windows/
inst/gdal/
inst/proj/

#src/Makevars
config.log
config.status
packrat/lib*/
packrat/src/

C/terra

