import(Rcpp)
importFrom(methods, new, validObject)
importFrom(stats, aggregate, na.omit, predict, quantile)
importFrom(graphics, lines, points, image)
importFrom(utils, head, tail)
import(raster)
exportMethods("[", "[[", "==", "!=", "!", adjacent, Arith, as.points, as.polygons, aggregate, area, as.array, as.data.frame, as.matrix, Compare, clamp, crop, crs, "crs<-", disaggregate, extract, focal, geom, gridDistance, head, image, lines, mask, Math, mean, ncell, ncol, "ncol<-", nrow, "nrow<-", overlay, plot, points, rasterize, reclassify, reduce, res, Summary, subset, trim, values, "values<-", xres, yres, yFromRow, xFromCol, colFromX, rowFromY, cellFromXY, cellFromRowCol, xyFromCell, yFromCell, xFromCell, rowColFromCell, rowFromCell, colFromCell, readStart, readStop, sampleRegular, tail, writeStart, writeStop, writeValues, writeRaster)
exportPattern("^[[:alpha:]]+")
useDynLib(terra, .registration = TRUE)
