# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    paths:
      - '**.R'
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: rcmdcheck

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-2025,   r: 'release'}
          - {os: windows-2025,   r: 'oldrel-1'}
          - {os: windows-2025,   r: 'oldrel-2'}
          - {os: windows-2025,   r: 'oldrel-3'}
          - {os: windows-2025,   r: 'oldrel-4'}
          
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: rspatial/terra, 
          extra-packages: any::rcmdcheck, any::sessioninfo
